---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% include analytics.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?cl=ffffff&w=288&t=n&d=tBobhftV57gUB_JsTSV1hr0C2H5l2lJUQqreUfe7aVw"></script>
<!--     <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=tBobhftV57gUB_JsTSV1hr0C2H5l2lJUQqreUfe7aVw&cl=ffffff&w=a"></script> -->
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=288&t=n&d=tBobhftV57gUB_JsTSV1hr0C2H5l2lJUQqreUfe7aVw'></script>
  </body>
</html>
